{% extends '::base.html.twig' %}
{% block body %}
    {% if status_code == 404 %}
        <div class="error">

            <img src="{{ asset('img/dead_link.png') }}">
            <h1>404</h1>
            <p> Le lien est mort</p>
        </div>
    {% elseif status_code == 500 %}
       <div class="error">

        <img src="{{ asset('img/dead_link.png') }}">
        <h1>500</h1>
        <p> Le serveur est mort</p>

    </div>

{% endif %}
{% endblock %}
