<section class="section1">
	<h1>Information</h1>
	<hr>

	<div class="row"  >
		<ul class="medium-12 columns">


			<li>
				<h2><i class="fa fa-address-card" aria-hidden="true"></i> Lassoie Jean-Valentin</h2>                   
			</li>
			<li>
				Adresse : 18 Rangée Dumez, Le Bizet 7783 (Belgique)
			</li>
			<li>
				Date de naissance : 09/01/1997
			</li>
			<li>
				Téléphone : +33695737427
			</li>
			<li>
				Adresse de messagerie : jv.lassoie@gmail.com
			</li>
			<li>
				Transport : permis B (13/01/2015) et véhicule personnel
			</li>
			<li>
				Disponibilité : pour le stage en informatique à partir du 17/01/2017.
			</li>
		</ul>   

	</div>


</section>