<section class="section1">
	<h1>Lettre de motivation</h1>
	<hr>

	<div class="row"  >
		<ul class="medium-12 columns">


			<li>
				Madame, Monsieur,

			</li>
			<li>
				Etant étudiant en 2ème année (cursus de 3 ans).
				<li>

					Je recherche un stage non-rémunéré en informatique (analyse, développement,…) de 100 à 200 heures dans le cadre de mes études (bachelier en informatique de gestion = licence MIAGE) à l'Institut d'enseignement de promotion sociale de Mouscron.  
					Le but de ce stage en entreprise est de consolider mes connaissances et de me familiariser au monde professionnel.
					
				</li>

			</ul>   

		</div>


	</section>